* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Navigation */

.nav-container {
    background: #EAEFE8;
    height: 72px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #8DC73F;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items a {
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

/* Header */
.header-container {
    background: #FFFFFF;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    position: absolute;
    width: 402px;
    height: 108px;
    left: 86px;
    top: 230px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #6F9B34;
}

header p {
    position: absolute;
    width: 362px;
    height: 21px;
    left: 86px;
    top: 366px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.6);
}

.farm-image {
    position: absolute;
    width: 539px;
    height: 377px;
    left: 759px;
    top: 360px;

}

/*Hidden Item */

.search-box {
    display: none;
}

.inputemail-box input {
    position: absolute;
    width: 554px;
    height: 74px;
    left: 85px;
    top: 475px;
    background: #FFFFFF;
    font-size: 15px;
    border: 1px solid #C1BBBB;
    box-sizing: border-box;
}

.inputpass-box input {
    position: absolute;
    width: 554px;
    height: 74px;
    left: 85px;
    top: 562px;
    background: #FFFFFF;
    font-size: 15px;
    border: 1px solid #C1BBBB;
    box-sizing: border-box; 
}

label {
    position: absolute;
    width: 150px;
    height: 21px;
    left: 85px;
    top: 657px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.nav-loginbt a {
    position: absolute;
    width: 113px;
    height: 54px;
    left: 85px;
    top: 714px;
    color: #6F9B34;
    font-family: Roboto;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background: #375212;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    transition: 300px;
}

.nav-loginbt a:hover {
    transform: translateY(-8px);
}

.nav-signupbt a {
    position: absolute;
    width: 129px;
    height: 54px;
    left: 247px;
    top: 714px;
    color: #6F9B34;
    font-family: Roboto;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #375212;
    box-sizing: border-box;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    transition: 300px;
}

.nav-signupbt a:hover {
    transform: translateY(-8px);
}


/* ******************************************************* SEARCH PAGE ******************************************************* */

.inputsearch-box input {
    position: absolute;
    width: 560px;
    height: 47px;
    left: 378px;
    top: 128px;
    background: #FFFFFF;
    border: 2px solid #D2D0D0;
    box-sizing: border-box;
    border-radius: 10px;
}

.nav-search {
    position: absolute;
    width: 1440px;
    height: 123px;
    left: 0px;
    top: -20px;
}

.nav-search a {
    position: absolute;
    width: 115px;
    height: 47px;
    left: 1005px;
    top: 128px;
    color: #FFFFFF;
    text-decoration: none;
    background: #61A3F0;
    border-radius: 20px;
    text-align: center;
    padding: 15px 0;
}

.nav-bodysearch {
    background-color: #EAEFE8;;
}

.nav-bodysearch a {
    position: absolute;
    width: 176px;
    height: 61px;
    left: 1177px;
    top: 252px;
    background: #B8CB99;
    text-align: center;
    padding: 15px 0;
    border-radius: 50px;
    position: absolute;
    font-family: Mulish;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.tabledata {
    position: absolute;
    width: 900px;
    height: 334px;
    left: 500px;
    top: 394px;

}

.table-container {
    margin:0 auto;
    width:80%;
    overflow:auto;

}

table.gridtable {
    margin:0 auto;
    width:95%;
    overflow:auto;
    font-family: helvetica,arial,sans-serif;
    font-size:14px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    text-align: center;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #F6B4A5;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
.badrowcount {
  background-color: coral;
}
.notnumeric {
  background-color: yellow;
}



